@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'SimplonNorm-Regular';
  src: url('/fonts/SimplonNorm-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  font-family: 'SimplonNorm-Regular';
}

